<template name="Recipe_show">
	{{#if editing}}
		{{> Recipe_form formArgs}}
	{{else}}
		<div class="page-header">
			<h1 style="display:inline">{{recipe.name}}</h1>
			<div class="btn-group pull-right">
				<button class="btn btn-primary" id="edit">Edit</button>
				<button type="button" class="btn btn-danger" id="delete">Delete</button>
			</div>
			<br>
			{{#if recipe.prep_time}}
			<h6>Prep time: {{recipe.prep_time}}</h6>
			{{/if}}
			{{#if recipe.cook_time}}
			<h6>Cook time: {{recipe.cook_time}}</h6>
			{{/if}}
		</div>
		<p>{{recipe.description}}</p>
		{{#if recipe.source}}
		<a href="{{recipe.source}}">{{recipe.source}}</a>
		{{/if}}
		<hr>
		
		<h2 style="display:inline">Ingredients</h2>
		<span class="pull-right">{{recipe.servings}} servings</span>
		<ul>
			{{#each ingredient in recipe.ingredients}}
			<li>{{ingredient}}</li>
			{{/each}}
		</ul>
		<hr>

		<h2>Directions</h2>
		<ol>
			{{#each step in recipe.directions}}
			<li>{{step}}</li>
			{{/each}}
		</ol>
	{{/if}}

</template>