<template name="App_body">
	{{> topnav}}
	<div id="container">
		<div id="content-container" class="container">
			{{> Template.dynamic template=main}}
		</div>
	</div>
	{{> footer}}
</template>

<template name="topnav">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
				<a class="navbar-brand" href="{{pathFor 'App.home'}}">Recipe Box</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'Recipes.list'}}" title="Recipes">Recipes</a></li>
					<li><a href="#">Pantry</a></li>
					<li><a href="#">Planner</a></li>
					<li><a href="{{pathFor 'shopping_list'}}" title="Shopping List">Shopping List</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>{{> loginButtons}}</li>
				</ul>
			</div>
		</div>
	</nav>
	
</template>

<template name="footer">
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Built with <a href="http://www.meteor.com">Meteor</a> by <a href="https://www.linkedin.com/in/dsikes">David Sikes</a>.</p>
		</div>
	</footer>
</template>